#seller-register {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/section/register.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    overflow: scroll;
}
#seller-register #register-form {
    backdrop-filter: blur(10px);
}
#seller-register .title-login {
    color: #fff;
}
#seller-register label {
    color: #fff;
}
#seller-register .title{
    color: #fff;
}
