#seller-register {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/section/register.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    overflow: scroll;
}

#seller-register #register-form {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

#seller-register .title-login {
    color: #ffaa01;
}

#seller-register label {
    color: #fff;
}

#seller-register .title {
    color: #ffaa01;
    ;
}
